name: Publish to Crates.io

on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish to Crates.io
        run: cargo publish --token ${{ secrets.CRATES_TOKEN }}
